<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.github.hisenz.mysqlview.mysqlview.mapper.DataSourceInfoMapper">
    <insert id="add" parameterType="io.github.hisenz.mysqlview.mysqlview.entity.DataSourceInfo" useGeneratedKeys="true"
            keyProperty="id">
        insert into mysql_view.data_source_info(name, url, driver, username, password)
            value (#{name}, #{url}, #{driver}, #{username}, #{password})
    </insert>
    <update id="update" parameterType="io.github.hisenz.mysqlview.mysqlview.entity.DataSourceInfo">
        update mysql_view.data_source_info
        <set>
            <if test="name != null">
                name=#{name},
            </if>
            <if test="url != null">
                url=#{url},
            </if>
            <if test="driver != null">
                driver=#{driver},
            </if>
            <if test="username != null">
                username=#{username},
            </if>
            <if test="driver != null">
                password=#{password}
            </if>
        </set>
        where id=#{id}
    </update>
    <delete id="deleteById">
        delete
        from mysql_view.data_source_info
        where id = #{id}
    </delete>
    <select id="findAll" resultType="io.github.hisenz.mysqlview.mysqlview.entity.DataSourceInfo">
        select id, name, url, username, password, driver
        from data_source_info
    </select>
    <select id="findByName" resultType="io.github.hisenz.mysqlview.mysqlview.entity.DataSourceInfo"
            parameterType="string">
        select id, name, url, username, password, driver
        from data_source_info
        where name = #{name}
    </select>
    <select id="findById" resultType="io.github.hisenz.mysqlview.mysqlview.entity.DataSourceInfo">
        select id, name, url, username, password, driver
        from data_source_info
        where id = #{id}
    </select>

</mapper>